* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: pink;
    font-family: verdana;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    border-width: 2px;
    border-color: red;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    border: 2px solid blue;
}

.logo-box {
    width: 180px;
    height: 180px;
    margin-top: 5px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 90px;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.title {
    font-family: Verdana, Arial, sans-serif;
    font-size: 45px;
    color: purple;
}

.navbar {
    width: 100%;
    height: 45px;
    border: 2px solid green;
}

ul {
    list-style-type: none;
    /*Removes bullet points*/
    background-color: purple;
    /* changes color of the navbar*/
    display: flex;
}


ul li a {
    display: block;
    color: white;
    /*color of links*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*Removes underlines  */
}

ul li a:hover {
    /*when cursor is placed on links*/
    background-color: pink;
}

.main {
    display: flex;
    width: 100%;
    height: 600px;
    border: 2px solid orange;
}

.main-img {
    height: 400px;
    margin-top: 50px;
    border: 2px solid blue;
}

.main-txt {
    height: 400px;
    margin-top: 50px;
    line-height: 35px;
    border: 2px solid blue;
}

.footer {
    display: flex;
    height: 125px;
    border: 2px solid purple;
}

.footer a {
    text-decoration: none;
    /*Removes underlines  */
    font-size: 30px;
}

.hamburger {
    display: none;
}

.index-h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

/* Tablet */

/* Larger tablets */
@media screen and (max-width:1024px) {

    .title {
        font-size: 35px;
    }

    .main-txt {
        font-size: 16px;
    }

}

/*main image and main text move from side by side to one below the other.*/
@media screen and (max-width: 768px) {

    .main {
        flex-direction: column;
        height: auto;
    }

    .main-img img {
        width: 100%;
        height: auto;
    }

    .main-img {
        width: 65%;
        margin: 20px auto;
    }

    .main-txt {
        padding: 20px;
    }

    .title {
        font-size: 35px;
    }
}

/* Phone */
@media screen and (max-width:480px) {
    .header {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    ul {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show-menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: flex;
    }

    .main-txt {
        height: auto;
    }

    .navbar {
        height: auto;
    }

    .logo-box {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin: 10px auto;
    }

    .logo-box img {
        width: 100%;
        height: auto;
    }

    .footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .footer a {
        font-size: 20px;
    }

    .footer .title {
        font-size: 24px;
    }

    .main-img {
        width: 65%;
        height: auto;
        margin: 20px auto;
    }

}