{% load static %}
<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
    <title> My Predictions </title>
    <meta name = "viewport" content="width=device-width, initial-scale =1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/jpeg" href="{% static 'images/logo.jpg' %}">
</head>
<body>
    <div class = "container">
        <header class = "header">
            <div class="logo-box">
                <img src = "{% static 'images/logo.jpg' %}" alt="image of my logo">
            </div>
            <div class="title">
                <h1> Future predictions on A.I. and Robotics </h1>
            </div>
        </header>
        <div class = "navbar">
            <button class="hamburger" onclick="showMenu()">&#9776;</button>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'reference' %}">Reference</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    <div class="content"></div>
    {% block content %}{% endblock %}
    <script>
        let currentIndex = 0;
        let images = [];
        let caption = [];

        document.addEventListener("DOMContentLoaded", () => {
            images = Array.from(document.querySelectorAll(".references img")).map(img => img.src);
            captions = Array.from(document.querySelectorAll(".references img")).map(img => img.alt);
        });

        function openLightbox(index) {
            currentIndex = index;
            document.getElementById("lightBox").style.display = "flex";
            showImage(currentIndex);
        }

        function closeLightbox() {
            document.getElementById("lightbox").style.display = "none";
        }

        function changeImage(step) {
            currentIndex += step;
            if (currentIndex < 0) currentIndex = images.length - 1;
            if (currentIndex >= images.length) currentIndex = 0;
            showImage(currentIndex);
        }

        function showImage(index) {
            document.getElementById("lightbox-img").src = images[index];
            document.getElementById("caption").innerHTML = captions[index];
        }

		function showMenu(){
			let menu = document.querySelector(".nav-links");
			menu.classList.toggle("show-menu");
		}
		</script>
</body>
</html>