{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title">
    Gallery
</h1>

<div class="gallery">
    <a href="{% static 'images/Robotic_1.jpg' %}">
        <img src="{% static 'images/Robotic_1.jpg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_2.jpg' %}">
        <img src="{% static 'images/Robotic_2.jpg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_3.jpg' %}">
        <img src="{% static 'images/Robotic_3.jpg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_4.jpg' %}">
        <img src="{% static 'images/Robotic_4.jpeg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_5.jpg' %}">
        <img src="{% static 'images/Robotic_5.jpeg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_6.jpg' %}">
        <img src="{% static 'images/Robotic_6.jpeg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_7.png' %}">
        <img src="{% static 'images/Robotic_7.png' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_8.png' %}">
        <img src="{% static 'images/Robotic_8.png' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_9.jpg' %}">
        <img src="{% static 'images/Robotic_9.jpeg' %}" alt="Robotics">
    </a>
    <a href="{% static 'images/Robotic_10.png' %}">
        <img src="{% static 'images/Robotic_10.png' %}" alt="Robotics">
    </a>
</div>
{% endblock %}