{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="home-h1">Welcome to the prophecy of future robotics and AI.</h1>

<h1 class="title">
    The prophecy of future A.I technologies
</h1>

<p class="home-text">
    Artifical Intelligence(A.I.) is rapidly becoming one of the most used technology in the world.
    From chatbots and image generators to self-driving systems and other tools, it is changing the world we know today.

    However, the rapid development of A.I. also created new challenges. Some news reports have mentioned that
    it is hacking into another company's system, it can be found in the reference page. There is also another
    news report, that mentioned an A.I. model refuses to be shut down, by attacking one of the workers using a
    robot hand.

    At the same time, A.I. has huge potential. It can help people solve complex problem, automate repetitive tasks,
    support scientific research, improve accessibility, and provide new ways to create and communicate. The challenges
    is finding a balance between taking advantage of these opportunities and managing the risks that come with them.
</p>
{% endblock %}