{% load static %}
<!DOCTYPE html>
<html lang= "en">

<head>
    <meta charset="UTF-8">
    <title> My Predictions </title>
    <meta name = "viewport" content="width=device-width, initial-scale =1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/jpeg" href="{% static 'images/logo.jpg' %}">
</head>
<body>
    <div class = "container">
        <header class = "header">
            <div class="logo-box">
                <img src = "{% static 'images/logo.jpg' %}" alt="image of my logo">
            </div>

            <div class="title">
                <h1> Future predictions on A.I. and Robotics </h1>
            </div>
        </header>

        <div class = "navbar">

            <button class="hamburger" onclick="showMenu()">&#9776;</button>

            <ul class="nav-links">

                <li><a href="{% url 'index' %}">Index</a></li>

                <li><a href="{% url 'mywork' %}">My Work</a></li>

                <li><a href="{% url 'contact' %}">Contact</a></li>

            </ul>

        </div>

        <div class = "main">

            <div class = "main-img">

                <img src = "{% static 'images/mainimg.jpg' %}" alt= "prophecy image">

            </div>

            <div class = "main-txt">
					This is a example. <br>

                </div>

            </div>
        </div>
<script>

			function showMenu(){
				let menu = document.querySelector(".nav-links");
				menu.classList.toggle("show-menu");
			}

		</script>
</body>
</html>